/* ---------------------------------------- */
/* ==       SOMMAIRE           */
/*---------------------------------------- */
/*L-   -1- Colors code */
/*L-   -2- Police */
/*L-   -3- Reglage petit ecran (>640px) */
/*L-   -3.1- Body */
/*L-   -3.2- Header */
/*L-   -3.3- Footer */
/*L-   -3.4- Accueil */
/*L-   -3.5- Connexion */
/*L-   -3.6- Inscription */
/*L-   -3.7- Profil */
/*L-   -3.7.1- Profil */
/*L-   -3.7.2- Picture */
/*L-   -3.7.3- Modification */
/*L-   -3.8- Ajout */
/*L-   -3.9- Administrateur */
/*L-   -3.9.1- Comment */
/*L-   -3.9.2- Picture */
/*L-   -3.9.3- User */
/*L-   -3.10- Tabs */
/*L-   -4- Reglage ecran tablette (640px <> 1024px) */
/*L-   -4.1- Body */
/*L-   -4.2- Accueil */
/*L-   -4.3- Profil */
/*L-   -4.3.1- Profil */
/*L-   -4.3.2- Picture */
/*L-   -5- Reglage grand ecran (>1024px) */
/*L-   -5.1- Body */
/*L-   -5.2- Accueil */
/*L-   -5.3- Profil */
/*L-   -5.4- Ajout */
/* ---------------------------------------- */
/* ==       COLORS CODE          */
/*---------------------------------------- */
/*
  - body: #f5f5f5
  - div: #fff
  - navbar/footer: #094074
  - icone-like: #0069d9
  - icone-report: #d10303
  - border: #000
*/
/* ---------------------------------------- */
/* ==       POLICE "MANSALVA"        */
/*---------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
/* ---------------------------------------- */
/* ==       BODY        */
/*---------------------------------------- */
body{
	background-color: #f5f5f5;
    width: 100%;
    margin-top: 58px !important;
}
#container_message_flash{
    position: fixed;
    bottom: 0;
    padding: 1%;
    right: 1%;
    background-color: #fff;
    display: none;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    font-family: 'Mansalva', cursive;
    opacity: 0.9;
}
.content{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 550px;
}
/* ---------------------------------------- */
/* ==       HEADER       */
/*---------------------------------------- */
#header{
	width: 100%;
}
#navbar-header{
	width: 100%;
	background-color: #094074 !important;
}
.navbar-brand strong{
    font-family: 'Mansalva', cursive;
}
.navbar-brand strong:hover{
    color: #8cb9e9;
}
/* ---------------------------------------- */
/* ==       FOOTER     */
/*---------------------------------------- */
footer{
	margin: 0;
    background-color: #094074;
    width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer p{
    color: #fff;
    font-family: 'Mansalva', cursive;
}
/* ---------------------------------------- */
/* ==       ACCUEIL     */
/*---------------------------------------- */
.content_new_post{
    box-shadow: 0 1px 4px #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
    background-color: #fff;
    font-family: 'Mansalva', cursive;
}
.avatar_post{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content_avatar_post{
    display: flex;
}
.content_avatar_post figure{
    width: 75px;
}
.content_avatar_post p{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 2%;
}
.content_picture_post{
    display: flex;
    justify-content: center;
    position: relative;
}
.icone_like{
    color: #000;
}
.icone_like.active{
    color: #0069d9
}
.icone_report{
    color: #000;
}
.icone_report:hover{
    color: #d10303 !important;
}
.icone_report.active{
    color: #d10303;
}
.picture_post a{
    display: flex;
    justify-content: center;
}
.picture_post{
    width: 100%;
}
.comment_button_post{
    width: 40%;
    margin: 0 30%;
    padding: 2% 1%;
}
.comment_content_post{
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    display: none;
    margin: 2% 0;
    padding: 2%;
    border-radius: 15px;
    background-color: #f9f9f9;
}
.comment_content_post.active{
    display: block;
}
.picture_comment{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.comment_picture_post{
    width: 100%;
    display: flex;
    margin: 1% 0;
    justify-content: space-around;
}
.comment_user{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment_user p{
    padding: 2%;
    margin: 0;
}
.comment_content{
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    width: 45%;
    border: 1px solid rgb(18, 20, 22);
    background-color: #fff;
    border-radius: 15px;
    padding: 2%;
    position: relative;
}
.content_form_like_report_comment{
    display: flex;
    justify-content: flex-end;
}
.arrow-left{
    position: absolute;
    left: -22px;
    top: 22%;
    width: 0;
    height: 56%;
    border-top: 40px solid #f5f5f5;
    border-bottom: 40px solid #f5f5f5ff;
    border-right:20px solid rgb(18, 20, 22);
}
.comment_content_form{
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    border-radius: 15px;
    border: 1px solid #000;
    padding: 2%;
    margin-top: 2%;
    background-color: #f5f5f5;
}
.button_icone{
    border: none;
    background-color: #fff;
}
.button_icone :hover{
    color: #0069d9;
}
.like_form_post, .report_form_post{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
}
.comment_form_print{
    margin: 0 10%;
    width: 80%;
    height: 100%;
    resize: none;
    border-radius: 15px;
    border: 1px solid #000;
}
.comment_button{
    width: 30%;
    margin: 0 35%;
}
.content_icone{
    display: flex;
}
.report_form_post{
    justify-content: flex-start;
}
/* ---------------------------------------- */
/* ==       CONNEXION        */
/*---------------------------------------- */
#content_connexion h1{
    text-align: center;
}
#content_connexion .row{
    padding: 3%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
#content_connexion .row p a{
    color: #000;
}
#content_connexion .row p a:hover{
    color: #0069d9;
}
#form_connexion{
    padding: 3%;
    display: flex;
    flex-direction: column !important;
    align-items: center;
}
#content_form_connexion{
    width: 80%;
    margin: 10% 10%;
    border-radius: 10px;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    background-color: #f5f5f5;
}
.form-connexion{
    margin: 0 30%;
    width: 40%;
    display: flex;
    flex-direction: column !important;
    align-items: center;
}
#button_connexion{
    margin-top: 10px;
}
#content_connexion .row p{
    text-align: center;
}
#container_inscription{
    margin: 5% 0;
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size: 20px;
}
#container_inscription a{
    color: #000 !important;
}
#container_inscription a:hover{
    color: #0069d9 !important;
}
/* ---------------------------------------- */
/* ==       INSCRIPTION        */
/*---------------------------------------- */
#content_inscription h1{
    text-align: center;
}
#content_inscription .row{
    padding: 3%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
#content_form_inscription{
    margin: 10% 5% 0 5%;
    width: 90%;
}
#form_inscription{
    padding: 3%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
}
.form-inscription{
    display: flex !important;
    justify-content: space-between;
}
#content_button_inscription{
    display: flex;
    justify-content: center;
}
#button_inscription{
    margin-top: 10px;
}
/* ---------------------------------------- */
/* ==       PROFIL       */
/*---------------------------------------- */
#content_profil h1{
    text-align: center;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
    font-family: 'Mansalva', cursive;
}
/*
 -- profil --
*/
#container_avatar_profil{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatar_profil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 2%;
}
#container_info_profil{
    display: flex;
}
#profil_info{
    width: 50%;
    padding: 0 0 0 2%;
}
#profil_info p{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    padding: 2%;
    margin: 5% 0;
}
#profil_info strong{
    font-family: 'Mansalva', cursive;
}
#container_deconnexion{
    margin: 2% 0;
    text-align: center;
    font-family: 'Mansalva', cursive;
}
/*
 -- picture --
*/
.picture_upload{
    max-width: 340px;
    width: 100%;
}
.container_picture_profil{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2%;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    border-radius: 10px;
}
.container_picture_profil figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_delete_picture_profil{
    display: flex;
    justify-content: center;
}
.container_picture_info_upload{
    margin: 2%;
}
.container_picture_info_upload p{
    background-color: #fff;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    padding: 5%;
    border-radius: 10px;
}
/*
 -- modification --
*/
#container_update_profil{
    width: 80%;
    margin: 6% 10%;
}
#container_update_profil form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    padding: 2%;
    border-radius: 10px;
    margin: 10% 2%;
}
#form_upload_avatar{
    min-height: 136px;
}
#form_upload_avatar input{
    margin: 2% 0;
}
#file{
    width: 50%;
}
/* ---------------------------------------- */
/* ==       AJOUT       */
/*---------------------------------------- */
#container_upload_picture_form{
    background-color: #fff;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    width: 80%;
    margin: 5% 10%;
    min-height: 400px;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#form_upload_picture{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
#upload_picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_upload_picture{
    width: 60%;
    margin: 2% 20%;
}
#thumbnil{
    width: 400px;
}
/* ---------------------------------------- */
/* ==       ADMINISTRATEUR     */
/*---------------------------------------- */
/*
 -- Comment --
*/
.comment_container_report{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
.comment_container_report h1{
    text-align: center;
    padding: 2%;
}
.report_comment_admin{
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    border-radius: 10px;
    width: 96%;
    padding: 2%;
    margin: 2%;
    border: 1px solid #000;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
}
.content_comment_report{
    width: 50%;
}
.content_form_comment_report{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.content_form_comment_report form button{
    margin: 2% 0;
    width: 120px;
}
.comment_report_display{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5%;
    background-color: #fff;
}
/*
 -- Picture --
*/
.picture_content_admin{
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
}
.picture_report_admin{
    width: 50%;
    height: auto;
}
.content_form_report_admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form_report_admin{
    display: flex;
    justify-content: center;
}
.form_report_admin button{
    margin: 2%;
    width: 75%;
    border: none;
}
/*
 -- User --
*/
#user h1{
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 1px solid #000;
}
.user_content_admin{
    display: flex;
    margin: 2%;
}
.user_content_admin p{
    width: 60%;
}
.content_form_user_admin{
    display: flex;
    justify-content: center;
    width: 40%;
}
/* ---------------------------------------- */
/* ==       TABS     */
/*---------------------------------------- */
.tabs li{
    float: left;
    display: block;
}
ul.tabs, .tabs li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    height: 46px;
}
.tabs a{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}
.tabs .active a{
    box-shadow: 0 1px 3px #000, 0 1px 2px black;
    background-color: #094074;
    border-bottom: none;
    color: #f5f5f5;
}
.tabs_content{

}
.tab_content{
    display: none;
    box-shadow: 0 1px 3px black, 0 1px 2px black;
}
.tab_content.active{
    display: block;
}
/* ---------------------------------------- */
/* ==       REGLAGE ECRAN TABLETTE    */
/*---------------------------------------- */
@media screen and (min-width: 640px){
    /* ---------------------------------------- */
    /* ==       BODY  */
    /*---------------------------------------- */
    .content{
        min-height: 800px;
    }
    /* ---------------------------------------- */
    /* ==       ACCUEIL   */
    /*---------------------------------------- */
    .icone_like, .icone_report{
        font-size: 25px;
    }
    /* ---------------------------------------- */
    /* ==       PROFIL   */
    /*---------------------------------------- */
    /*
     -- profil --
    */
    #avatar_profil{
        height: 175px;
        width: 175px;
    }
    /*
     -- picture --
    */
    .container_picture_profil{
        flex-direction: row;
        justify-content: space-around;
    }
    .container_picture_profil figure{
        width: 50%;
    }
}
/* ---------------------------------------- */
/* ==       REGLAGE ECRAN GRAND ECRAN    */
/*---------------------------------------- */
@media screen and (min-width: 1024px){
    /* ---------------------------------------- */
    /* ==       BODY   */
    /*---------------------------------------- */
    .content{
        max-width: 1024px;
        margin-bottom: 2%;
        padding: 2%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    /* ---------------------------------------- */
    /* ==       ACCUEIL   */
    /*---------------------------------------- */
    .content_new_post{
        font-size: 20px;
        margin: 2%;
    }
    .content_avatar_post p{
        font-size: 20px;
    }
    .comment_button_post{
        font-size: 20px;
        width: 16%;
        margin: 0 44%;
        padding: 1%;
    }
    /* ---------------------------------------- */
    /* ==       PROFIL   */
    /*---------------------------------------- */
    #profil{
        font-size: 20px;
    }
    #profil_info{
        width: 40%;
    }
    #profil_info p{
        width: 80%;
        font-size: 20px;
    }
    #container_avatar_profil{
        width: 58%;
    }
    #profil_info strong{
        font-size: 25px;
    }
    /* ---------------------------------------- */
    /* ==       AJOUT   */
    /*---------------------------------------- */
    #form_upload_picture{
        width: 70%;
        margin: 10% 15%;
    }
}